<p id="notice"><%= notice %></p>

<p>
  <strong>Problem:</strong>
  <%= @human.problem_html.html_safe %>
</p>

<p>
  <strong>Solution:</strong>
  <%= @human.solution_html.html_safe %>
</p>

<p>
  <strong>Result:</strong>
  <pre><%= @human.result %></p>
</pre>


<p>
  <strong>Aim:</strong>
  <%= @human.aim_html.html_safe %>
</p>

<p>
  <strong>Expected time:</strong>
  <%= @human.expected_time %>
</p>

<p>
  <strong>Order:</strong>
  <%= @human.order %>
</p>

<p>
  <strong>Category:</strong>
  <%= @human.category.name %>
</p>

<%= link_to 'Edit', edit_human_path(@human) %> |
<%= link_to 'Back', humen_path %>
