<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
  <% @category.humen.each do |h| %>
    <hr>
    <p>
      <strong>Order:</strong>
      <%= h.order %>
    </p>

    <p>
      <strong>Problem:</strong>
      <%= h.problem_html.html_safe %>
    </p>

    <p>
      <strong>Expected time:</strong>
      <%= h.expected_time %> min
    </p>

    <p>
      <strong>Aim:</strong>
      <%= h.aim_html.html_safe %>
    </p>

    <p>
      <strong>Solution:</strong>
      <%= h.solution_html.html_safe %>
    </p>

    <p>
      <strong>Result:</strong>
    <pre><%= h.result %></p>
    </pre>


<% end %>

</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
